# Byte-compiled / optimized / DLL files
__pycache__/
.idea/
.vscode/

# FastAPI specific
*.log
*.env
.venv/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
